.secondmini {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px 4px #0C2340;


    display: flex;
    flex-direction: column;
    gap: 1em;
}

.secondmini-top {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: #2c3968;
    padding: 1em 2em;
    border-radius: 20px;
    position: relative;
}

.secondmini-top_text {
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing:0.5px;
    color: #ffffff;
}

.secondmini-speedometer {
}

.secondmini-top_price {
    color: white;
    font-size: 2em;
    position: absolute;
    transform: translate(-50%, 50%);
    left: 50%;
    bottom: 2em;
    font-weight: 500;
}

.secondmini-top_price span {
    font-size: 60%;
}
.secondmini-bottom{
    background-color: #2c3968;
    outline: 1px solid red;
    padding: 1em 2em;
    border-radius: 20px;
}